@font-face {
    font-family: 'inter';
    src: url(/font/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: 'pacifico';
    src: url(/font/Pacifico-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap');
*{
    font-family: 'inter';
    color: #00373e;
    font-weight: 500;
}
body{
    background-color: #f8f6f5;
}
*::selection{
    background-color: #00373e;
    color: #cafff2;
}
a{
    text-decoration: none;
}
/* text-color */
.text-green{
    color: #00373e;
}
.text-green-light{
    color: #cafff2;
}
/* background-color */
.bg-green{
    background-color: #00373e;
}
.bg-orange-light{
    background-color: #fbd3b6;
}
.bg-orange-light-2{
    background-color: #fbad9c;
}
/* font */
.f-pacifico{
    font-family: 'pacifico';
}
.f-neuton{
    font-family: 'Neuton', serif;
}
/* font-size */
.fs-65{
    font-size: 65px;
}
.fs-18{
    font-size: 18px;
}
.fs-14{
    font-size: 14px;
}
.fs-40{
    font-size: 40px;
}
/* padding */
.p-14-20{
    padding: 14px 20px;
}
.p-16-32{
    padding: 16px 32px;
}
.p-12-20{
    padding: 12px 20px;
}
.px-7p{
    padding: 0 7%;
}
/* header */
/* header-button-menu */
.togglee{
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    top: 40px;
    right: 0px;
    z-index: 1;
    cursor: pointer;
    background-color: #00373e;
}
.togglee .common{
    position: absolute;
    height: 2px;
    width: 24px;
    background-color: #ffffff;
    transition: 0.3s ease;
    

}
.togglee .top_line{
    top: 38%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.togglee .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.togglee .bottom_line{
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input:checked ~ .togglee .top_line{
    left: 23%;
    top: 50%;
    width: 25px;
    transform: rotate(45deg) translatey(-50%);
}
input:checked ~ .togglee .bottom_line{
    left: 25%;
    top: 50%;
    width: 25px;
    transform: rotate(-45deg) translatey(-50%);
}
input:checked ~ .togglee .middle_line{
    display: none;
    
}
/* header-shape-image */
.shape1{
    width: 150px;
    height: 150px;
    background-color: #cafff2;
    margin-left: 50%;
    margin-top: 0%;
    clip-path: url(#stone-hero_top-right);
}
.shape2{
    margin-left: 30%;
    margin-bottom: -10%;
    width: 150px;
    height: 150px;
    background-image: url(/assets/img/642730c1660cb9b9912fedbe_hero2.webp);
    background-position: center;
    background-size: cover;
    margin-left: 20%;
    background-repeat: no-repeat;
    clip-path: url(#stone-hero_bottom-right);
}
.shape3{

    width: 160px;
    height: 160px;
    background-image: url(/assets/img/642730c1f21280f3e518c776_hero1.webp);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    clip-path: url(#stone-hero_top-left);
}
.shape4{
    width: 145px;
    height: 145px;
    margin-left: -21%;
    background-color: #94954c;
    clip-path: url(#stone-hero_middle-left);
}
.shape5{
    width: 145px;
    height: 145px;
    margin-bottom: -22%;
    margin-left: -25%;
    background-image: url(/assets/img/642dadde76f1bbb7ff809caa_Playing_Colored_01\ 1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    clip-path: url(#stone-hero_bottom-left);
}
.shape-right{
    justify-content: space-between;
}
.h-h1{
    font-size: 3.6rem;
}
.h-p{
    font-size: 18px;
}
.header-check{
    display: none;
    visibility: hidden;
}
.h-section2{
    height: 700px;
}
/* media query */
@media (min-width:576px){
    .h-section2{
        height:590px;
    }
    .re-img{
        margin-bottom: 10%;
    }
    .shape1{
        width: 182px;
        height: 182px;
        margin-left: 50%;
    }
    .shape2{
        width: 182px;
        height: 182px;
    }
    .shape3{
        width: 190px;
        height: 190px;
        z-index: 2;
    }
    .shape4{
        width: 173px;
        height: 173px;
        z-index: 0;
        
    }
    .shape5{
        width: 173px;
        height: 173px;
        z-index: 2;
        height: 33vh;
    }
}
@media (min-width:768px){
    .h-section2{
        height: 420px;
    }    
    .h-h1{
        font-size: 4rem;
    }
    .h-p{
        font-size: 24px;
    }

    .shape1{
        width: 276px;
        height: 275px;
    }
    .shape2{
        margin-top: -15%;
        width: 276px;
        height: 276px;
    }
    .shape3{
        margin-bottom: -25%;
        width: 250px;
        height: 250px;
    }
    .shape4{
        width: 225px;
        height:225px;
    }
    .shape5{
        width: 225px;
        height: 225px;
        margin-top: -35%;
       
        
    }
}
@media (min-width:992px){
    .h-section2{
        height: 800px;
    }
    .h-h1{
        font-size: 5rem;
    }
    .shape1{
        width: 310px;
        height: 310px;
    }
    .shape2{
        width: 310px;
        height: 310px;
        margin-left: 40%;
    }
    .shape3{
        width: 300px;
        height: 300px;
    }
    .shape4{
        margin-left: -30%;
        width: 270px;
        height: 270px;
    }
    .shape5{
        margin-left: 15%;
        margin-bottom: -10%;
        width: 270px;
        height: 270px;
    }
    .shape-right{
        justify-content: center;
    }
    .fs-56{
        font-size: 56px;
    }
}
@media (min-width:1200px){
    .shape1{
        width: 373px;
        height: 373px;
        margin-left: 35%;
    }
    .shape2{
        width: 373px;
        height: 373px;
    }
    .shape3{
        width: 380px;
        height: 380px;
    }
    .shape4{
        width: 320px;
        height: 320px;
    }
    .shape5{
        margin-left: 15%;
        width: 320px;
        height: 320px;
    }
    
}



